.grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    &__container {
        display: flex;
        // flex-direction: row;

        .text {
            display: flex;
            padding: 0 5rem;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            width: 50%;
    
            h3 {
                @include h3;
              }
          
              p {
                @include p-grey;
              } 
        }
        
        .img {
            width: 50%;
            height: 40rem;
        }
    }

    .row-1 {   
        flex-direction: row;

        .img {
            background: url("/app/images/bg-showcase-1.jpg");
            background-size:cover;

        }
    }

    .row-2 {   
        flex-direction: row-reverse;

        .img {
            background: url("/app/images/bg-showcase-2.jpg");
            background-size:cover;
        }
    }
    
    .row-3 {   
        flex-direction: row;

        .img {
            background: url("/app/images/bg-showcase-3.jpg");
            background-size:cover;
        }
    }
}

@media (max-width: 600px){
    .grid__container {
        flex-wrap: wrap-reverse;

        .text {
            padding: 5rem;
            width: 100%;
    
            h3 {
                @include h3-mobile;
              }
          
              p {
                @include p-grey-mobile;
              } 
        }
        
        .img {
            background-position: left;
            width: 100%;
            height: 50rem;
        }
    }
}


