.newsletter-top {
  display: flex;
  flex-direction: column;
  background: url("../images/bg-masthead.jpg") rgba(0, 0, 0, .2);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  height: 60rem;
  width: 100%;
  justify-content: center;
  align-items: center;

  &__text {
    display: block;
    width: 50%;
    margin-top: 10rem;
    
    h1 {
      text-align: center;
      color: $white;
      font-size: 3.5rem;
      font-weight: 700;
    }
  }
  
  &__form {
    display: block;
    height: auto;
    margin-top: 3.5rem;
  }

  &__form input {
    @include newsletter-input;
  }

  #button {
    @include newsletter-button;
  }
}

@media (max-width: 600px){
  .newsletter-top {
    height: auto;
    padding: 12rem 0;
  
    &__text {
      width: 90%;
      margin-top: 5.1rem;
    }

    &__form {
      margin-top: 4rem;
    }
  
    &__form input {
      display: flex;
      justify-content: center;
      height: 5rem;
      width: 90vw;
      border: none;
      border-radius: .5rem;
      padding: 0 1.2rem;
      font-size: 2.1rem;
    }
  
    #button {
      height: 5rem;
      width: 90vw;
      margin-left: 0rem;
      margin-top: 1rem;
      font-size: 2.1rem;
  
      &:hover {
        background: $blue-hover;
        text-decoration: underline;
        cursor: pointer;
      }
    
      &:active {
        background: $blue-active;
      }
    }
  }
}