.newsletter-bottom {
  display: flex;
  flex-direction: column;
  background: url("../images/bg-masthead.jpg") rgba(0, 0, 0, .2);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  height: auto;
  width: 100%;
  align-items: center;
  padding: 10rem 0;

  &__text {
    display: block;
    width: 80%;
    text-align: center;
    color: $white;
    font-size: 2.8rem;
    font-weight: 700;
  }

  &__form {
    display: block;
    margin-top: 2.5rem;
  }

  &__form input {
    @include newsletter-input;
  }

  #button {
    @include newsletter-button;
  }
}

@media (max-width: 600px){
  .newsletter-bottom {
  
    &__text {
      width: 85%;
      font-size: 3.5rem;
    }

    &__form {
      margin-top: 3rem;
    }
  
    &__form input {
      display: flex;
      justify-content: center;
      height: 5rem;
      width: 90vw;
      font-size: 2.1rem;
    }
  
    #button {
      height: 5rem;
      width: 90vw;
      margin-left: 0rem;
      margin-top: 1rem;
      font-size: 2.1rem;
  
      &:hover {
        background: $blue-hover;
        text-decoration: underline;
        cursor: pointer;
      }
    
      &:active {
        background: $blue-active;
      }
    }
  }
}